<h1>TRANSACTIONS</h1>

Selected category: <%= @group.name %><br>
Total: <%= @total %>
<ul>
  <% @entities.each do |entity|%>
    <li>
      <img src=''>
      <div>
        <h5><%= entity.name %></h5>
        <span><%= entity.created_at %><span>
      </div>
      <span>$<%= entity.amount %></span>
    </li>
  <% end %>
</ul>

<%= link_to  'ADD ENTITY', new_user_group_entity_path(@group.user, @group) %>